@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* Colors */
/**Greys**/
h2 a {
  color: #303030;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 16px;
}

h2 a:hover {
  color: #e8a798;
}

h3 {
  font-family: "Montserrat";
  font-size: 1.2rem;
}

a {
  color: #303030;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-decoration: none;
}

p {
  color: #303030;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.category_grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 1px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .category_grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
  }
}

@media screen and (min-width: 1224px) {
  .category_grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 30px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    width: auto;
    padding: 0 5% 5% 5%;
  }
}

.column {
  margin: 1vw;
  height: 200px;
  width: auto;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr 1fr;
  background-size: cover;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media screen and (min-width: 768px) {
  .column {
    height: 300px;
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1224px) {
  .column {
    height: 300px;
    width: auto;
  }
}

div.main_description a:link {
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3vh;
}

@media screen and (max-width: 480px) {
  div.main_description a {
    text-align: center;
    margin-top: 20%;
  }
}

div.main_description a:hover {
  color: #e8a798;
}

.row {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#category {
  text-align: center;
  font-size: 5vh;
  padding: 10% 0 2% 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: #e8a798;
}

#picture {
  width: 100%;
  height: 220px;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  #picture {
    width: auto;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  #main_title {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  #main_title {
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 5vh;
    padding: 15% 0 0 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #e8a798;
    z-index: 999;
  }
}

@media screen and (max-width: 480px) {
  #title_description {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  #title_description {
    text-align: center;
    font-size: 3vh;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  #title1 {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  #title1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  #title2 {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  #title2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  #text1 {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  #text1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
}

@media screen and (max-width: 480px) {
  #text2 {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  #text2 {
    color: white;
    font-family: 'Montserrat', sans-serif;
  }
}

#main_row {
  padding: 5% 0 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
}

div.cat_title a:link {
  color: white;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3vh;
}

@media screen and (max-width: 480px) {
  div.cat_title a {
    text-align: center;
    margin-top: 20%;
  }
}

div.cat_title a:hover {
  color: #e8a798;
}
/*# sourceMappingURL=index.css.map */