@import '../styles/variables'

.product-list-main
    border: 1px $grey-light solid
    border-radius: 5px
    margin: 20px
    display: flex
    justify-content: space-between

.product-list-sidebar
    flex-grow: 2
    padding: 20px

.product-list-products
    border-left: 1px $grey-light solid
    flex-grow: 2
    padding: 20px

.product-list-navigation
    ul
        h3
            font-size: 14px
            padding: 10px 0

.product-list-item

    li
        display: block
        font-size: 12px
        font-weight: 600
        line-height: 1.5