@import '../styles/variables'
    
footer
    display: flex
    justify-content: space-around
    align-items: center
    height: 200px
    width: 100%
    background-color: $grey-light
    p
        color: $grey-light-2
        padding: 20px 0
    

form
    margin-right: 20px
    border: 2px $grey-light-2 solid;
    border-radius: 5px
    

    input
        border: none
        background-color: $grey-light
    button
        height: 25px
        background-color: $grey-light-2
        color: $grey-light
        padding: 5px 15px
        box-shadow: none
        border: none
        font-size: 8px
