/**
   Here we add the common sass (variables) which will be fonts, colors, common paddings, maybe buttons etc.

     ex:

      $bebas-neue: 'Bebas Neue Regular';
      $roboto: 'Roboto Thin';
 **/


/** Colors **/

$primary-color: #e8a798;
$secondary-color: #f2cec5;

/**Greys**/

$grey-light: #e6e6e6;
$grey-light-2: #95989a;
$grey-dark: #707070;
$grey-dark-2: #303030;

