*
  margin: 0
  padding: 0
/* Colors */

  
$primary-color: #e8a798
$secondary-color: #f2cec5

/**Greys**/

$grey-light: #e6e6e6
$grey-light-2: #95989a
$grey-dark: #707070
$grey-dark-2: #303030

$montserrat: 'Montserrat'

h2 a
  color: $grey-dark-2
  font-family: $montserrat, Arial, Helvetica, sans-serif
  text-decoration: none
  font-size: 16px
  &:hover
    color: $primary-color
    transition: 1s

h3 
  font-family: $montserrat
  font-size: 1.2rem
a
  color: $grey-dark-2
  font-family: $montserrat, Arial, Helvetica, sans-serif
  text-decoration: none

p
  color: $grey-dark-2
  font-family: $montserrat, Arial, Helvetica, sans-serif
  font-size: 12px








