* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
  }

.column {
  display: grid;
  align-items: center;
    float: left;
    width: 20%;
    height: 400px;
    padding: 50px;
    margin: 2vw;
    box-sizing: border-box;

  }
  .row {
    text-align: center;
    margin: 0 0 0 2.5%;
  }
  

#category {
  text-align: center;
    font-size: 5vh;
    padding: 10% 0 2% 0;
}

#picture {
  background-color: aquamarine;
  width: 100%;
  height: 500px;
}
#title{
  padding: 20px 0 0 0; 
  text-align: center;
  font-size: 5vh;
  padding: 15% 0 0 0;
}
#title_description {
  text-align: center;
  font-size: 3vh;
}
#title1 {
  position: relative;
  left: 80%;
}
#text1 {
  position: relative;
  left: 80%;
}
#title2 {
  position: relative;
  right: -180%;
}
#text2 {
  position: relative;
  right: -180%;
}
#description {
  display: grid;
  columns: 1 1 1;
}

#column1 {
  display: grid;
  align-items: center;
  float: left;
  }

#row1 {
  text-align: center;
  padding: 25px 0 0 0;
}

#category_grid {
   align-items: center;
}