@import  '../styles/variables'
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap')


.view_detail    
    padding: 5px 0   
div.view_grid
    display: flex
    justify-content: space-between
    align-items: center
    grid-gap: 1em
    width: 800px
    margin: auto
    @media screen and (min-width : 1224px) 
        display: grid
        grid-template-columns: 1fr 1fr
    
.view_picture
    height: 600px
    width: auto
    display: grid
    background-size: cover
    background-repeat: no-repeat
    align-content: center
    @media screen and (min-width : 1224px) 
        justify-items: right
    img
        width: auto
        height: 520px
        justify-content: center
        @media screen and (min-width : 768px) 
            height: 550px
            width: auto

div.view_column
    display: grid
    padding-left: 20px

div.view_title
    padding: 30px 10px 0 0
    margin: 0
    height: auto
    font-family: 'Montserrat', sans-serif
    font-weight: 700
    font-size: 2rem
    color: #e8a798

div.view_description
    padding: 1em 0
    margin: 0
    height: auto
    width: 400px
    font-family: 'Montserrat', sans-serif
    font-weight: 400
    color: #95989a

div.details_column
    padding: 5px 10px 5px 0
    margin: 0
    height: auto
    display: grid
    grid-gap: 1px
    grid-template-columns: 1fr 1fr
    font-family: 'Montserrat', sans-serif
    padding: 10px 0

div.details_first
    font-weight: 700
    color: #707070

div.details_second
    color: #e8a798
   
.view_detail2
    padding: 5px 0
    text-align: right
div.price
    padding: 30px 0
    margin: 0
    height: auto
    font-family: 'Montserrat', sans-serif
    font-weight: 700
    font-size: 3vh
    color: #707070

div.add_button
    padding: 1em 0
    margin: 0
    height: auto
    button
        font-family: 'Montserrat', sans-serif
        font-weight: 700
        height: 40px
        width: 160px
        color: #e8a798
        background-color: #ffffff
        border: 1px solid $secondary-color
        border-radius: 10px
        font-size: 1rem
        a
            color: #e8a798
        &:hover
            background-color: $secondary-color
            transition: .5s
            a
                color: white

hr
    color: #95989a
    width: 100%
.user
    display: grid
    grid-template-columns: 20% 70% 10%
    align-items: center
    background-color: $grey-light
    padding: 1em
    .fa-phone
        padding-bottom: 10px
.name-user
    font-weight: 100
    font-size: 1rem
    padding: 5px 0
.user-profile
    background-image: url(../graphics/andreea.svg)
    width: 60px
    height: 60px
    border-radius: 50%
    background-position: center
    background-repeat: no-repeat
    background-size: contain
.other_grid
    display: grid
    grid-gap: 1px
    grid-template-columns: repeat(4, 1fr)
    vertical-align: middle
    padding: 40px 100px

.other_column
    margin: 1vw
    height: 350px
    width: auto
    display: grid
    background-size: cover
    align-content: center
    box-shadow: #95989a 2px 2px 10px

#other
    font-family: 'Montserrat', sans-serif
    font-weight: 900
    text-align: center
    font-size: 4vh
    padding: 40px 0 0 0

div.text_price
    font-family: 'Montserrat', sans-serif
    font-weight: 400
    color: #303030
    padding: 0 15px 0 15px

div.text
    font-family: 'Montserrat', sans-serif
    font-weight: 400
    color: #303030
    padding: 0 15px 0 15px

@media screen and ( max-width: 768px )
    .other_column
        display: none
    #other
        display: none
    div.view_grid
        max-width: 350px
        display: grid
        grid-gap: 1px
        grid-template-columns: 1fr
        vertical-align: middle
        margin: auto
        padding-top: 65px
    div.view_picture
        height: 900px
        width: auto
        display: grid
        background-size: cover
        align-content: cente
    div.view_picture
        height: 400px
        width: auto
        display: grid
        background-size: cover
        align-content: center
    img
         margin-top: 10px
         align-items: center
    div.view_column
        padding-top: 100px
        padding-left: 0px
    .other_grid
        display: none
    div.view_title
        padding-top: 10px
    div.add_button button
        background-color: white
        
    div.details_column
        grid-template-columns: 1fr 1fr
    div.view_description
       width: 350px