@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* Colors */
/**Greys**/
h2 a {
  color: #303030;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 16px;
}

h2 a:hover {
  color: #e8a798;
}

h3 {
  font-family: "Montserrat";
  font-size: 1.2rem;
}

a {
  color: #303030;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-decoration: none;
}

p {
  color: #303030;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 12px;
}

div.view_grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  vertical-align: middle;
  margin: 0 300px 0 300px;
}

div.view_picture {
  height: 600px;
  width: auto;
  display: -ms-grid;
  display: grid;
  background-size: cover;
  background-size-background-repeat: no-repeat;
  -ms-flex-line-pack: center;
      align-content: center;
}

div.view_column {
  display: -ms-grid;
  display: grid;
  display-height: 200px;
  display-width: 500px;
}

div.view_title {
  padding: 30 10 0 20;
  margin: 0;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 4vh;
  color: #e8a798;
}

div.view_description {
  padding: 0 10 10 20;
  margin: 0;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #95989a;
}

div.details_column {
  padding: 5 10 5 10;
  margin: 0;
  height: auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 1px;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  font-family: 'Montserrat', sans-serif;
}

div.details_first {
  font-weight: 700;
  color: #707070;
}

div.details_second {
  color: #e8a798;
}

div.price {
  padding: 30 10 0 20;
  margin: 0;
  height: auto;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 3vh;
  color: #707070;
}

div.add_button {
  padding: 0 10 0 10;
  margin: 0;
  text-align: center;
  height: auto;
}

div.add_button button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  height: 40px;
  width: 160px;
  color: #e8a798;
  border-color: #e8a798;
  font-size: 1.5vh;
}

div.add_button button:hover {
  background-color: #e8a798;
  color: white;
}

hr {
  color: #95989a;
}

.other_grid {
  display: -ms-grid;
  display: grid;
  grid-gap: 1px;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  vertical-align: middle;
  padding: 40px 100px;
}

.other_column {
  margin: 1vw;
  height: 350px;
  width: auto;
  display: -ms-grid;
  display: grid;
  background-size: cover;
  -ms-flex-line-pack: center;
      align-content: center;
  align-content-box-shadow: red 2px 2px 10px;
}

#other {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-align: center;
  font-size: 4vh;
  padding: 40px 0 0 0;
}

div.text_price {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #303030;
  padding: 0 15px 0 15px;
}

div.text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #303030;
  padding: 0 15px 0 15px;
}

@media screen and (max-width: 768px) {
  .other_column {
    display: none;
  }
  #other {
    display: none;
  }
  div.view_grid {
    display: -ms-grid;
    display: grid;
    grid-gap: 1px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    vertical-align: middle;
    margin: 10px;
  }
  div.view_picture {
    height: 900px;
    width: auto;
    display: -ms-grid;
    display: grid;
    background-size: cover;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  div.view_picture {
    height: 400px;
    width: auto;
    display: -ms-grid;
    display: grid;
    background-size: cover;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  div.view_column {
    height: 400px;
  }
  .other_grid {
    display: none;
  }
  div.view_title {
    padding-top: 10px;
  }
  div.add_button button {
    background-color: white;
  }
}
/*# sourceMappingURL=view.css.map */